.form {
  background-color: rgba(200, 200, 200, .8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.form label {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}